@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

@layout MainLayout
@inject AuthenticationStateProvider authenticationService

<AuthorizeView Roles="Admin,Manager">
    <Authorized>
        <div style="display:flex">
            <MudPaper Width="20%" Style="height: calc(100vh - 64px)">
                <MudNavMenu Class="mud-width-full">
                    <MudText Typo="Typo.h5" Class="px-4" Style="padding: 10px; font-weight:bold">Welcome @(_username ??
                                                                                     "")</MudText>
                        <MudDivider Class="my-1"></MudDivider>
                        <MudNavLink Href="/admin-dashboard" Icon="@Icons.Material.TwoTone.Dashboard"
                                    IconColor="@Color.Tertiary">Admin Dashboard
                        </MudNavLink>
                        <MudNavLink Href="/create-schedule" Icon="@Icons.Material.TwoTone.Add" IconColor="@Color.Tertiary">
                            Create Schedule</MudNavLink>
                        </MudNavMenu>
                    </MudPaper>
                    <div style="flex:1; padding:20px">
                        @Body
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                You are not authorized to be here
            </NotAuthorized>

        </AuthorizeView>

@code {
    private string? _username;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authenticationService.GetAuthenticationStateAsync();

        _username = authState.User.Identity?.Name;
    }
}