@layout AdminLayout

@inherits BaseComponent

@page "/create-schedule"
@using System.Security.Principal
@using System.ComponentModel.DataAnnotations
@using EPPSchedulerFrontend.DataClasses
@using System.Runtime.CompilerServices

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6 mb-6">
    <MudCard Elevation="3">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5" Color="Color.Tertiary">Create Schedule Profile</MudText>
            </CardHeaderContent>
        </MudCardHeader>

        <MudCardContent>
            <MudStack Spacing="4">
                
                @* --- PROFILE BASICS --- *@
                <MudTextField @bind-Value="_name" Label="Name for the new schedule profile"
                              Variant="Variant.Outlined" />
                
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudSwitch @bind-Value="_isActive" Color="Color.Primary"
                                   Label="@(_isActive ? "Save and Activate These Settings on Submit" : "Only Save These Settings")" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudSwitch @bind-Value="_manual" Color="Color.Secondary"
                                   Label="@(_manual ? "Create Schedule Manually" : "Generate Schedule Programatically")" />
                    </MudItem>
                </MudGrid>

                @if (!_manual)
                {
                    <MudDivider Class="my-2" />

                    @* --- GENERAL SETTINGS --- *@
                    <MudText Typo="Typo.h6">General Settings</MudText>
                    <MudSwitch @bind-Value="_pairByExperience" Color="Color.Info"
                               Label="@(_pairByExperience ? "Pair employees by experience" : "Don't pair employees by experience")" />

                    <MudDivider Class="my-2" />

                    @* --- SHOP TIMES --- *@
                    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                        <MudText Typo="Typo.h6">Shop Times</MudText>
                        <div>
                            <MudButton OnClick="AddShopHourElement" Color="Color.Success" Variant="Variant.Text">Add Shop
                                Time</MudButton>
                                <MudButton OnClick="RemoveShopHourElement" Color="Color.Error" Variant="Variant.Text">Remove
                                    Shop Time</MudButton>
                                </div>
                            </MudStack>
                    
                            @for (int i = 0; i < _numShopHourElements; i++)
                            {
                                int index = i;
                                <MudGrid>
                                    <MudItem xs="12" md="4">
                                        <MudSelect @bind-Value="_shopDays[index]" Label="Day of Week" Variant="Variant.Outlined"
                                                   Margin="Margin.Dense">
                                            @foreach (string day in Enum.GetNames(typeof(DayOfWeek)))
                                            {
                                                <MudSelectItem Value="@day">@day</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="6" md="4">
                                        <MudTimePicker Label="Begin Time" AmPm="true" @bind-Time="_shopStartTimes[index]"
                                                       @ref="_shopStartPickers[index]" AutoClose="false" Color="Color.Secondary"
                                                       Variant="Variant.Outlined" Margin="Margin.Dense">
                                            <PickerActions>
                                                <MudButton Class="mr-auto align-self-start"
                                                           OnClick="@(() => _shopStartPickers[index].ClearAsync())">Clear</MudButton>
                                                <MudButton Color="Color.Secondary"
                                                           OnClick="@(() => _shopStartPickers[index].CloseAsync())">OK</MudButton>
                                            </PickerActions>
                                        </MudTimePicker>
                                    </MudItem>
                                    <MudItem xs="6" md="4">
                                        <MudTimePicker Label="End Time" AmPm="true" @bind-Time="_shopEndTimes[index]"
                                                       @ref="_shopEndPickers[index]" AutoClose="false" Color="Color.Secondary"
                                                       Variant="Variant.Outlined" Margin="Margin.Dense">
                                            <PickerActions>
                                                <MudButton Class="mr-auto align-self-start"
                                                           OnClick="@(() => _shopEndPickers[index].ClearAsync())">Clear</MudButton>
                                                <MudButton Color="Color.Secondary"
                                                           OnClick="@(() => _shopEndPickers[index].CloseAsync())">OK</MudButton>
                                            </PickerActions>
                                        </MudTimePicker>
                                    </MudItem>
                                </MudGrid>
                            }

                            <MudDivider Class="my-2" />

                            @* --- FAB TIMES --- *@
                            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                <MudText Typo="Typo.h6">Fab Times</MudText>
                                <div>
                                    <MudButton OnClick="AddFabTimeElement" Color="Color.Success" Variant="Variant.Text">Add Fab Time
                                    </MudButton>
                                    <MudButton OnClick="RemoveFabTimeElement" Color="Color.Error" Variant="Variant.Text">Remove Fab
                                        Time</MudButton>
                                    </div>
                                </MudStack>
                    
                                @for (int i = 0; i < _numFabElements; i++)
                                {
                                    int index = i;
                                    <MudGrid>
                                        <MudItem xs="12" md="4">
                                            <MudSelect @bind-Value="_fabDays[index]" Label="Day of Week" Variant="Variant.Outlined"
                                                       Margin="Margin.Dense">
                                                @foreach (string day in Enum.GetNames(typeof(DayOfWeek)))
                                                {
                                                    <MudSelectItem Value="@day">@day</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </MudItem>
                                        <MudItem xs="6" md="4">
                                            <MudTimePicker Label="Begin Time" AmPm="true" @bind-Time="_fabStartTimes[index]"
                                                           @ref="_fabStartPickers[index]" AutoClose="false" Color="Color.Secondary"
                                                           Variant="Variant.Outlined" Margin="Margin.Dense">
                                                <PickerActions>
                                                    <MudButton Class="mr-auto align-self-start"
                                                               OnClick="@(() => _fabStartPickers[index].ClearAsync())">Clear</MudButton>
                                                    <MudButton Color="Color.Secondary"
                                                               OnClick="@(() => _fabStartPickers[index].CloseAsync())">OK</MudButton>
                                                </PickerActions>
                                            </MudTimePicker>
                                        </MudItem>
                                        <MudItem xs="6" md="4">
                                            <MudTimePicker Label="End Time" AmPm="true" @bind-Time="_fabEndTimes[index]"
                                                           @ref="_fabEndPickers[index]" AutoClose="false" Color="Color.Secondary"
                                                           Variant="Variant.Outlined" Margin="Margin.Dense">
                                                <PickerActions>
                                                    <MudButton Class="mr-auto align-self-start"
                                                               OnClick="@(() => _fabEndPickers[index].ClearAsync())">Clear</MudButton>
                                                    <MudButton Color="Color.Secondary"
                                                               OnClick="@(() => _fabEndPickers[index].CloseAsync())">OK</MudButton>
                                                </PickerActions>
                                            </MudTimePicker>
                                        </MudItem>
                                    </MudGrid>
                                }

                                <MudDivider Class="my-2" />

                                @* --- CONSTRAINTS --- *@
                                <MudText Typo="Typo.h6">Constraints</MudText>
                                <MudGrid>
                                    <MudItem xs="12" sm="6">
                                        <MudNumericField @bind-Value="_maxConcurrentEmployees" Variant="Variant.Outlined"
                                                         Label="Max concurrent employees" HelperText="Allowed to work at a time" />
                                    </MudItem>
                                    <MudItem xs="12" sm="6">
                                        <MudNumericField @bind-Value="_maxHoursPerEmployee" Variant="Variant.Outlined"
                                                         Label="Max hours per employee" HelperText="Limit for any given employee" />
                                    </MudItem>
                                    <MudItem xs="12" sm="6">
                                        <MudNumericField @bind-Value="_maxTotalHours" Variant="Variant.Outlined" Label="Max total hours"
                                                         HelperText="Allowed across all employees" />
                                    </MudItem>
                                    <MudItem xs="12" sm="6">
                                        <MudNumericField @bind-Value="_minTotalHours" Variant="Variant.Outlined" Label="Min total hours"
                                                         HelperText="Allowed across all employees" />
                                    </MudItem>
                                </MudGrid>
                            }
                        </MudStack>
                    </MudCardContent>

                    <MudCardActions Class="pb-4 pl-4 pr-4">
                        <MudSpacer />
                        <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary" OnClick="OnScheduleCreate">
                            Create Profile</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudContainer>

@code {
    @* private MudForm _form; *@
    private bool _success;
    private string[] _errors = [];
    private bool _isActive = true;
    private bool _manual = true;
    private bool _pairByExperience;
    private int _maxConcurrentEmployees;
    private float _maxTotalHours;
    private float _minTotalHours;
    private float _maxHoursPerEmployee;
    private string _name;
    private string[] _shopDays = new string[7];
    private TimeSpan?[] _shopStartTimes = new TimeSpan?[7];
    private TimeSpan?[] _shopEndTimes = new TimeSpan?[7];

    private string[] _fabDays = new string[7];
    private TimeSpan?[] _fabStartTimes = new TimeSpan?[7];
    private TimeSpan?[] _fabEndTimes = new TimeSpan?[7];

    private int _numShopHourElements = 1;
    private int _numFabElements = 1;

    private MudTimePicker[] _shopStartPickers = new MudTimePicker[7];
    private MudTimePicker[] _shopEndPickers = new MudTimePicker[7];
    private MudTimePicker[] _fabStartPickers = new MudTimePicker[7];
    private MudTimePicker[] _fabEndPickers = new MudTimePicker[7];

    public void AddShopHourElement()
    {
        if (_numShopHourElements >= 7)
        {
            _numShopHourElements = 7;
            return;
        }
        _numShopHourElements++;
    }

    public void RemoveShopHourElement()
    {
        if (_numShopHourElements <= 1)
        {
            _numShopHourElements = 1;
            return;
        }
        _numShopHourElements--;
    }

    public void AddFabTimeElement()
    {
        if (_numFabElements >= 7)
        {
            _numFabElements = 7;
            return;
        }
        _numFabElements++;
    }

    public void RemoveFabTimeElement()
    {
        if (_numFabElements <= 1)
        {
            _numFabElements = 1;
            return;
        }
        _numFabElements--;
    }
    
    public async void OnScheduleCreate()
    {
        List<NestedTimeInterval> fabTimeIntervals = new List<NestedTimeInterval>();
        int i = 0;
        foreach (string day in _fabDays)
        {
            if (day == string.Empty || day is null)
            {
                continue;
            }
            if (!Enum.TryParse(day, out DayOfWeek enumDay))
            {
                snackbar.Add($"{day} is not a valid day of week", Severity.Error);
                return;
            }
            fabTimeIntervals.Add(new NestedTimeInterval(new List<TimeOnly> { TimeOnly.FromTimeSpan(_fabStartTimes[i] ??
TimeSpan.Zero) },
new List<TimeOnly> { TimeOnly.FromTimeSpan(_fabEndTimes[i] ?? TimeSpan.Zero) }, enumDay));
            i++;
        }

        List<TimeInterval> shopTimeIntervals = new List<TimeInterval>();
        i = 0;
        foreach (string day in _shopDays)
        {
            if (day == string.Empty || day is null)
            {
                continue;
            }
            if (!Enum.TryParse(day, out DayOfWeek enumDay))
            {
                snackbar.Add($"{day} is not a valid day of week", Severity.Error);
                return;
            }
            shopTimeIntervals.Add(new TimeInterval(enumDay, TimeOnly.FromTimeSpan(_shopStartTimes[i] ?? new TimeSpan(0, 0, 0)),
TimeOnly.FromTimeSpan(_shopEndTimes[i] ?? TimeSpan.Zero)));
            i++;
        }
        ScheduleProfile newProfile = new ScheduleProfile(Guid.NewGuid(), _isActive, _manual, false, _maxConcurrentEmployees,
_maxTotalHours, _minTotalHours, _maxHoursPerEmployee, shopTimeIntervals, fabTimeIntervals, _name);

        if (authenticationService is null || clientFactory is null || navigationManager is null)
        {
            return;
        }
        HttpClient client = clientFactory.CreateClient("EPPSchedulerBackend");

        HttpResponseMessage resp = await client.PostAsJsonAsync(requestUri: "api/ScheduleProfile", newProfile);

        try
        {
            resp.EnsureSuccessStatusCode();
        }
        catch (HttpRequestException)
        {
            Console.WriteLine("This is the error: " + await resp.Content.ReadAsStringAsync());
            snackbar.Add("There was an error while attempting to create a new schedule profile, please try again", Severity.Error);
            return;
        }
        Console.WriteLine("The vallue of manual is: " + _manual);
        snackbar.Add(message: "New schedule profile has been created", Severity.Success);
        navigationManager.NavigateTo("admin-dashboard");
    }
}